svg {
	border: 1px solid red;
	width: 100%;
    height: auto;
}

/* ============================= 
=         HOME PAGE             =
================================*/




/* ============================= 
=          MAIN PAGE           =
================================*/

/* VICTIMA */   
svg{
	border: 1px solid red;
	width:100%;
  }
  
  /*vivo */
  .victima #brazo-derecho{
	opacity:0;
  }
  .victima #parpado{
	opacity:0;
	transform: translate(-.5rem,1rem);
  }
  
  .victima#brazo-derecho-ext{
	-webkit-animation: brazo-derecho-ext .6s alternate infinite;
	        animation: brazo-derecho-ext .6s alternate infinite;
   transform-origin: 1rem 26rem;
	transform-box: fill-box;
  }
  
  .victima #brazo-izquierdo{
	-webkit-animation: brazo-derecho-ext .7s alternate infinite;
	        animation: brazo-derecho-ext .7s alternate infinite;
	transform-origin: 0rem 0rem;
	transform-box: fill-box;
  }
  
  .victima #pierna-izquierda{
	
		-webkit-animation: brazo-derecho-ext .9s alternate infinite;
	
		        animation: brazo-derecho-ext .9s alternate infinite;
   transform-origin: 3rem 16rem;
	transform-box: fill-box;
  }
  
  .victima #pierna-izquierda #pie{
		-webkit-animation: brazo-derecho-ext .7s alternate infinite;
		        animation: brazo-derecho-ext .7s alternate infinite;
   transform-origin: 8rem 9rem;
	transform-box: fill-box;
  }
  
  .victima #pierna-derecha{
	-webkit-animation: brazo-derecho-ext .9s alternate infinite;
	        animation: brazo-derecho-ext .9s alternate infinite;
   transform-origin: 0rem 16rem;
	transform-box: fill-box;
  }
  
  
  .victima #cabeza-safrificado{
	  -webkit-animation: brazo-derecho-ext .6s alternate infinite 1s;
	          animation: brazo-derecho-ext .6s alternate infinite 1s;
	  transform-origin: right 5rem;
	  transform-box: fill-box;
  }
  
  .victima #pelo{
	-webkit-animation: pelo 1s alternate infinite;
	        animation: pelo 1s alternate infinite;
	transform-origin: right top;
	transform-box: fill-box;
  }
  .victima #ojo-abierto{
	-webkit-animation: ojo-open .3s alternate infinite;
	        animation: ojo-open .3s alternate infinite;
  
  }
  .victima #pupila{
	 -webkit-animation: pelo .3s alternate infinite;
	         animation: pelo .3s alternate infinite;
	  transform-origin: 0 -4rem;
	  transform-box: fill-box;
	 
  }
  /*boca*/
  .victima #ouch{
	-webkit-animation: ojo-open .2s ease-in-out alternate infinite;
	        animation: ojo-open .2s ease-in-out alternate infinite;
  }
  
  /* sangre*/
  .victima #pecho-rojo,
  .victima #salpicadura{
	opacity:0;
  }
  
  .victima #piedra-sangre #corto,
  .victima #piedra-sangre #largo,
  .victima #sangre-splash{
	opacity:0;
  }
  
  
  /*muerto*/
  .victima.dead #brazo-derecho{
	transition: opacity .2s ease-in;
	opacity:1;
  }
  
  .victima.dead#brazo-derecho-ext{
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  opacity:0;  
  }
  
  .victima.dead #brazo-izquierdo,
  .victima.dead #pierna-izquierda,
  .victima.dead #pierna-izquierda #pie,
  .victima.dead #pierna-derecha{
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  }
  
  
  .victima.dead #cabeza-safrificado{
  -webkit-animation: cabezaMuerta .6s linear 1;
          animation: cabezaMuerta .6s linear 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; 
  }
  
  .victima.dead #pelo{
	-webkit-animation: pelo 2s alternate infinite;
	        animation: pelo 2s alternate infinite;
	  transform-origin: right top 29rem;
  }
  
  .victima.dead #ojo-abierto{
	  -webkit-animation: ojo-open .3s linear 1;
	          animation: ojo-open .3s linear 1;
	  -webkit-animation-fill-mode:forwards;
	          animation-fill-mode:forwards;
	   
  }
  .victima.dead #pupila{
	  animation-direction: reverse;
	  -webkit-animation-delay: 1s;
	          animation-delay: 1s;
	  -webkit-animation-duration: 3s;
	          animation-duration: 3s;
	  -webkit-animation-iteration-count: 1;
	          animation-iteration-count: 1;
	  transform-origin: 9rem 5rem;
	  -webkit-animation-fill-mode: forwards;
	          animation-fill-mode: forwards;
	
  }
  
  .victima.dead #parpado{
	-webkit-animation: ojo-cierra 2s linear 1.9s;
	        animation: ojo-cierra 2s linear 1.9s;
	 transform-origin: center center;
	  transform-box: fill-box;
	 -webkit-animation-fill-mode:forwards;
	         animation-fill-mode:forwards;
  }
  
  .victima.dead #ouch{ 
	-webkit-animation: bocaDead 2s ease-in-out 1; 
	        animation: bocaDead 2s ease-in-out 1;
	-webkit-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
  }
  
  
  /* sangre */
  
  .victima.dead #pecho-rojo {
	-webkit-animation: ojo-open .4s ease-in-out 1 .1s;
	        animation: ojo-open .4s ease-in-out 1 .1s;
	-webkit-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
  }
  
  .victima.dead #salpicadura{
  
	transform-box: fill-box;
	transform-origin: 19rem 17rem;
	-webkit-animation: chorroDsangre 1s linear infinite .4s ;
	        animation: chorroDsangre 1s linear infinite .4s ;
	-webkit-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
	
  }
  
  .victima.dead #sangre-splash{
	 -webkit-animation: ojo-open .3s linear .2s 1;
	         animation: ojo-open .3s linear .2s 1;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards; 
  }
  .victima.dead #piedra-sangre #largo{
	-webkit-animation: ojo-open .4s ease-in-out 1;
	        animation: ojo-open .4s ease-in-out 1;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards; 
  }
  .victima.dead #piedra-sangre #corto{
	-webkit-animation: ojo-open .2s linear .3s 1;
	        animation: ojo-open .2s linear .3s 1;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards; 
  }
  
  /*  sacrificador */
  
  /* vivo*/
  #sacrificador #grupo-brazo-izq{
	-webkit-animation: mano-marca .2s alternate ease-in infinite;
	        animation: mano-marca .2s alternate ease-in infinite;
	  transform: rotate(16deg);
	  transform-origin: right 81rem;
  }
  
  #sacrificador #sangre_2{
	opacity:0;
  }
  
  #sacrificador #grupo-brazo-dr{
	-webkit-animation: brazo-asesino-dr 1.5s linear alternate infinite;
	        animation: brazo-asesino-dr 1.5s linear alternate infinite;
  }
  
  #sacrificador #grupo-rostro_2{
	-webkit-animation: brazo-asesino-dr 3s linear alternate infinite .1s;
	        animation: brazo-asesino-dr 3s linear alternate infinite .1s;
	transform-origin: right 81rem;
  }
  
  #sacrificador #pantalon{    
	-webkit-animation: pantalon 2s linear alternate infinite;    
	        animation: pantalon 2s linear alternate infinite;}
  
  #sacrificador #pupila_2{
	-webkit-animation: ojo-asensino-vivo .4s alternate infinite;
	        animation: ojo-asensino-vivo .4s alternate infinite;
   
  }
  
  /* muerto */
  #sacrificador.dead #grupo-brazo-izq{
	  -webkit-animation: brazo-asesino .2s linear 1;
	          animation: brazo-asesino .2s linear 1;
	  -webkit-animation-fill-mode: forwards;
	          animation-fill-mode: forwards; 
  }
  
  #sacrificador.dead #sangre_2{
	-webkit-animation: ojo-open .1s ease-in .2s 1;
	        animation: ojo-open .1s ease-in .2s 1; 
	-webkit-animation-fill-mode: forwards; 
	        animation-fill-mode: forwards; 
  }
	 
  #sacrificador.dead #grupo-brazo-dr{
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards; 
	-webkit-animation-iteration-count: 1; 
	        animation-iteration-count: 1;
  }
   
  #sacrificador.dead #grupo-rostro_2{
	-webkit-animation: cabeza-asesino .3s linear 1 .29s;
	        animation: cabeza-asesino .3s linear 1 .29s;
	  transform-origin: 92rem 46rem;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards; 
  }
  
  #sacrificador.dead #pupila_2{
	-webkit-animation: ojo-asensino-dead .4s alternate infinite;
	        animation: ojo-asensino-dead .4s alternate infinite;
   transform-origin: 92rem 46rem;
  }
   
  /* animación de asesino */
  
  @-webkit-keyframes ojo-asensino-vivo{
	to{transform: translate(-2rem, 0rem);}
  }
  
  @keyframes ojo-asensino-vivo{
	to{transform: translate(-2rem, 0rem);}
  }
  
  @-webkit-keyframes ojo-asensino-dead{
	0%{    transform: rotate(-7deg) translate(0rem, 0rem);}
	100%{ transform: rotate(-2deg) translate(-2rem, 0rem);}
  }
  
  @keyframes ojo-asensino-dead{
	0%{    transform: rotate(-7deg) translate(0rem, 0rem);}
	100%{ transform: rotate(-2deg) translate(-2rem, 0rem);}
  }
   
  @-webkit-keyframes brazo-asesino{
	100%{transform: rotate(0deg);} 
  }
   
  @keyframes brazo-asesino{
	100%{transform: rotate(0deg);} 
  }
  
  @-webkit-keyframes mano-marca {
	100%{transform: rotate(22deg) translate(0rem, 8rem);}
	
  }
  
  @keyframes mano-marca {
	100%{transform: rotate(22deg) translate(0rem, 8rem);}
	
  }
  
  @-webkit-keyframes brazo-asesino-dr{
	10% {transform: translate(-1rem, -1rem);}
	30% {transform: translate(0rem, 2rem);}
	50% {transform: translate(-1rem, -1rem);}
	70%{transform: translate(0rem, 0rem);}
	30% {transform: translate(0rem, 2rem);}
	 90% {transform: translate(-1rem, -1rem);}
	100%{transform: translate(0rem, 0rem);}
  }
  
  @keyframes brazo-asesino-dr{
	10% {transform: translate(-1rem, -1rem);}
	30% {transform: translate(0rem, 2rem);}
	50% {transform: translate(-1rem, -1rem);}
	70%{transform: translate(0rem, 0rem);}
	30% {transform: translate(0rem, 2rem);}
	 90% {transform: translate(-1rem, -1rem);}
	100%{transform: translate(0rem, 0rem);}
  }
  
  @-webkit-keyframes cabeza-asesino{
	100%{transform: rotate(-48deg);}
  }
  
  @keyframes cabeza-asesino{
	100%{transform: rotate(-48deg);}
  }
  
  @-webkit-keyframes pantalon{
	
	100%{transform: translate(2rem, 1rem);}
  }
  
  @keyframes pantalon{
	
	100%{transform: translate(2rem, 1rem);}
  }
  
  
  /* brazo derecho ext */
  
  @-webkit-keyframes brazo-derecho-ext{
	0%{transform: rotate(20deg);}
	100%{transform: rotate(-.9deg);}
  }
  
  @keyframes brazo-derecho-ext{
	0%{transform: rotate(20deg);}
	100%{transform: rotate(-.9deg);}
  }
  /* animacion de opacidad */
  
  @-webkit-keyframes ojo-open{ 
	0% { opacity: 0;}
	100%{ opacity: 1;}  
  }
  
  @keyframes ojo-open{ 
	0% { opacity: 0;}
	100%{ opacity: 1;}  
  }
  
  @-webkit-keyframes bocaDead{ 
	0% { opacity: 1;}
	  90% { opacity: 1;}
	92% { opacity: 0;}
	100%{ opacity: 0;}  
  }
  
  @keyframes bocaDead{ 
	0% { opacity: 1;}
	  90% { opacity: 1;}
	92% { opacity: 0;}
	100%{ opacity: 0;}  
  }
  
  
  @-webkit-keyframes ojo-cierra{ 
	0% {opacity: 1; 
		transform: translate(-.5rem,1rem);
	}
	100%{ opacity: 1; transform: translate(0rem,0rem);}  
  }
  
  
  @keyframes ojo-cierra{ 
	0% {opacity: 1; 
		transform: translate(-.5rem,1rem);
	}
	100%{ opacity: 1; transform: translate(0rem,0rem);}  
  }
  
  @-webkit-keyframes pelo {
	from{ transform: rotate(-5deg) translate(-.1rem, .1rem)}
	to{ transform: rotate(0deg)translate(0, 0)}
  }
  
  @keyframes pelo {
	from{ transform: rotate(-5deg) translate(-.1rem, .1rem)}
	to{ transform: rotate(0deg)translate(0, 0)}
  }
  
  
  /* salpicadura */
  
  @-webkit-keyframes sangre{
	0% { opacity:0; transform: rotate(-.9deg);}
	100%{opacity:1; transform: rotate(20deg);} 
  }
  
  @keyframes sangre{
	0% { opacity:0; transform: rotate(-.9deg);}
	100%{opacity:1; transform: rotate(20deg);} 
  }
  
  
	
  
  @-webkit-keyframes chorroDsangre {
	0% {opacity: 1;transform: rotate(0deg);} 
	27%{opacity: .1;}
	30%{ opacity:0;} 
	100% {opacity:0; transform: rotate(-360deg);}
  }
  
  
	
  
  @keyframes chorroDsangre {
	0% {opacity: 1;transform: rotate(0deg);} 
	27%{opacity: .1;}
	30%{ opacity:0;} 
	100% {opacity:0; transform: rotate(-360deg);}
  }
  
  @-webkit-keyframes cabezaMuerta {
	
	from{}
	to{transform: rotate(-17deg) translate(-2.4rem, .9rem);}
  }
  
  @keyframes cabezaMuerta {
	
	from{}
	to{transform: rotate(-17deg) translate(-2.4rem, .9rem);}
  }