.pagDcreditos{
    background-color:#079444;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
   
}
.equipocreditos{
    margin-top: 6%;
    list-style: none;
    text-align: left;
    margin: 0 auto;
    padding-left: 5%;
    position: absolute;
    z-index: 2;
}
.ullist{
    list-style-type: none;
}
.piramidecreditos{
    max-width: 1200px;
    max-height: 1500px;
    position: relative;
    z-index: 1;
}

/*break points */

@media (min-width: 600px) {
    h1, h3{
        margin-left: 8%;
    }
    .equipocreditos{
        font-size: 22px;
        width: 50%;
        margin-left: 16%;
    }
    .piramidecreditos{
        width: 50%;
        height: 1150px; 
    }
	
}
@media (min-width: 980px) {
	h1{
        padding-top: 5%;
    }

@media (min-width: 1200px) {
    h1, h3{
        font-size: 1.5em;
    }
    .equipocreditos{
        margin-left: 20%;
        font-size: 1.5em;
}
    .piramidecreditos{
    width: 50%;
    height: 1300px; 
}
@media (min-width: 1500px) {
    h1, h3{
        margin-left: -10%;
        font-size: 2em;
    }
    .equipocreditos{
        margin-left: 30%;
        font-size: 1.5em;
}
 
}
}

