.home-green{
    background-color: var(--verde-light);
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-img{
    margin-top: 70px;
    width: 72%;
    justify-content: center;
}

.home-paragraph{
   
    margin-right: auto;
	margin-left: auto;
	padding: 0 1rem;
    text-align: justify;
}
.cavalera-home{
    width: 320px;
    height: 100px;
    animation: bounce 1.5s alternate infinite linear;
    margin-top: 6px;
    opacity: 70%;
}
.home-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/iconos/stone.jpg');
    width: 294px;
    height: 52px;
    opacity: 90%;
    border: 10px solid var(--verde);
}

.home-button div{
    background-color: var(--amarillo-light);
    width: 284px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-button div a{
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

.home-pegi{
    width: 100%;
    display: flex;
    justify-content: start;
}

.img-pegi{
    margin-left: 40px;
    width: 10%;
}
@-webkit-keyframes bounce {
    from {-webkit-transform: rotate(4deg)}
    to   {-webkit-transform: rotate(-4deg)}
}

@keyframes bounce {
    from {transform: rotate(4deg)}
    to   {transform: rotate(-4deg)}
}

#cavalera-home {
    -webkit-animation: bounce .5s alternate infinite ease-in-out;
            animation: bounce .5s alternate infinite ease-in-out;
}